<template>
  <LayoutProfileAside :titlePage="title">
   
    <div class="row">
      <div class="col-sm-7">
        <div class="card-profile" style="min-height: 315px !important;">
          <div class="title-card d-flex">
            <img :src="require('@/assets/images/icon/ic_user.svg')" alt="" />
            <h5><b>Akun</b></h5>
          </div>
          <div class="body-card">
            <div class="pengaturan">
              <div class="row align-items-center form-group">
                <div class="col-xl-2 col-md-4 col-3 text-end">
                  <strong>Email :</strong>
                </div>
                <div class="col-xl-10 col-md-8 col-9">
                  <input
                      type="text"
                      placeholder="Email"
                      class="form-control form-control-lg form-control-solid"
                      style="background: rgba(0, 0, 0, 0.07); border-radius: 3px;" />
                </div>
              </div>
              <div class="row align-items-center form-group">
                <div class="col-xl-2 col-md-4 col-3 text-end">
                  <strong>No HP :</strong>
                </div>
                <div class="col-xl-10 col-md-8 col-9">
                  <input
                      type="text"
                      placeholder="No hp"
                      class="form-control form-control-lg form-control-solid"
                      style="background: rgba(0, 0, 0, 0.07); border-radius: 3px;" />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="pengaturan__update">
                    <button @click="submitNewPassword" class="btn btn-success-portal-soft">Update</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="card-profile">
          <img :src="require('@/assets/images/background/img_setting.png')" alt="" />
        </div>
        <!-- <div class="card-profile">
          <div class="title-card">
            <img :src="require('@/assets/images/icon/ic_user.svg')" alt="" />
            <span>Akun</span>
          </div>
          <div class="body-card">
            <div class="container pengaturan">
              <div class="form-group row">
                <label
                  for="staticEmail"
                  class="col-sm-3 col-form-label pengaturan__label"
                  >Email :</label
                >
                <div class="col-sm-9">
                  <input
                    type="email"
                    class="form-control pengaturan__form"
                    id="inputPassword" />
                </div>
              </div>
              <div class="form-group row">
                <label
                  for="inputPassword"
                  class="col-sm-3 col-form-label pengaturan__label"
                  >No HP :</label
                >
                <div class="col-sm-9">
                  <input
                    type="password"
                    class="form-control pengaturan__form"
                    id="inputPassword" />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="pengaturan__update">
                    <button class="btn btn-success-portal-soft">Update</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </LayoutProfileAside>
</template>
<script>
import LayoutProfileAside from "@/views/crafted/layout/LayoutProfile.vue";
import { mapState, mapActions } from "vuex";
import Swal from "sweetalert2/dist/sweetalert2.min.js";
import { useRouter } from "vue-router";

export default {
  name: "BackOfficePengaturan",
  computed: {
    ...mapState({
      changePasswordPart: (state) => state.changePasswordPart.data,
    })
  },
  data() {
    return {
      title: "Pengaturan",
      passwordFieldType1: "password",
      passwordFieldType2: "password",
      passwordFieldType3: "password",
    };
  },
  methods: {
    ...mapActions('changePasswordPart', [
      'validateForm',
      'storeNewPassword',
      'cleanForm'
    ]),
    async submitNewPassword() {
      if (await this.validateForm()) {
        const res = await this.storeNewPassword();
        if (res) {
          Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Password Berhasil Diubah!',
            showConfirmButton: false,
            timer: 1500,
          });
          this.cleanForm()
        } else {
          Swal.fire({
            position: 'top-end',
            icon: 'error',
            title: 'Invalid Password!',
            showConfirmButton: false,
            timer: 1500,
          });
        }
      }
    },
    switchVisibility(val) {
      if (val == 1) {
        this.passwordFieldType1 = this.passwordFieldType1 === "password" ? "text" : "password";
      }else if (val == 2) {
        this.passwordFieldType2 = this.passwordFieldType2 === "password" ? "text" : "password";
      }else {
        this.passwordFieldType3 = this.passwordFieldType3 === "password" ? "text" : "password";
      }
    },
  },
  components: {
    LayoutProfileAside,
  },
};
</script>
