* {
  
}
.registrasi-page .bg-login .img-logo img {
    top: -179px;
    position: relative;
}

.auth-login .bg-bumn .form-data .daftar-akun {
    font-size: 14px;
}

.label_tittle {
    font-size: 14px;
    font-family: 'Poppins';
}

.fix_logo {
    top: -27%;
    position: relative;
}

.bg_log{
    background-size: contain;
  }

.aside-profile {
  background: #ffffff;
  border: 1px solid rgba(140, 141, 141, 0.5);
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-left: 6px solid #1896a4;
  padding: 16px 20px 31px 21px;
  height: auto;

  label {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #1f2855;
    margin-bottom: 12px;
  }

  .label {
    margin-top: 140px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #1f2855;
    margin-bottom: 12px;
    img {
      margin-right: 16px;
    }
  }

  ul {
    padding: 0 !important;
    list-style: none;
    margin-bottom: 24px;
    li {
      margin-bottom: 12px;
      a {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #1f2855;
        transition: 0.3s;
        img{
          width: 20px;
          margin-right: 16px;
        }
      }
      a:hover {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #004368;
      }
    }
  }
}

.header-profile {
  margin-top: 30px;
  margin-bottom: 42px;
  .title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 39px;
    color: #1f2855;
  }

  .breadcrumb {
    a {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #1f2855;
    }

    .icon {
      margin: 0px 5px 0px 5px;
    }
  }

  .icon-gelombang {
    float: right;
    margin-top: -40px;
    img {
      width: 203px;
      height: 115px;
    }
  }
}

/*mobile*/
@media only screen and (max-width: 961px) {

  .auth-login .bg-bumn .form-data {
      padding: 32px !important;
  }

  .registrasi-page .bg-bumn .form-data {
      padding: 32px !important;
  }

  .aside-profile .label {
      margin-top: 0px !important;
  }

  .aside-profile ul {
      display: flex;
  }


  .aside-profile ul li {
      margin-right: 0px;
      list-style: none;
      flex: 0 0 50.333333%;
  }

  .accordion-body ul li a{
      width: 348px;
  }

  .dashboard-profile .informasi-persentase {
      float: right;
      margin-top: 22px !important;
  }

  .card-profile .body-card .pengaturan__update {
      float: none !important;
      display: grid !important;
  }

  .card-profile .body-card .resume-cv__personal__update {
      top: -211px !important;
      position: relative !important;
      right: -31px !important;
  }

  .btn.btn-primary-portal {
      background: #1896a4;
      border-radius: 3px;
      padding: 16px;
  }
  .non_flex{
    display: grid !important;
  }
  .table-responsive {
    margin-top: 12px;
  }
  .content .card-profile img {
    width: inherit;
  }

  .card-profile .body-card .lowongan .section-list .images-perusahaan img {
    max-width: 100% !important;
    margin-bottom: 16px;
  }

  .btn_progress {
    width: 100%;
    margin-top: 16px;
  }
  .ic_time{
    display: none;
  }

  .section-list {
    text-align: center;
  }

  .images-perusahaan img{
    max-width: 100%;
    margin-bottom: 12px;
  }

  .card-profile .body-card .resume-cv__personal__body .title-body {
    font-size: 12px !important;
  }

  .card-profile .body-card .resume-cv__personal__body .title-body {
    font-size: 11px !important;
  }

  .d_none{
    display: none;
  }

  .card-profile .body-card .resume-cv__personal__body {
    margin-bottom: 32px;
  }
  .dataTables_wrapper{
    margin-top: 20px;
  }
  .fix_logo {
    top: 13% !important;
    width: 22%;
  }

  .bg_log{
    background-size: 146px !important;
    background-position-y: -17px;
  }

  

}