//
// Buttons Base
//

// Button
.btn {
  --#{$prefix}btn-color: var(--kt-body-color);
  --#{$prefix}btn-bg: transparent;
  --#{$prefix}btn-border-color: transparent;

  // Reset outline
  outline: none !important;

  // Reset focus shadow
  &:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg) {
    box-shadow: none !important;
  }

  // Remove border
  &:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon) {
    border: 0;
    padding: calc(#{$btn-padding-y} + #{$btn-border-width})
      calc(#{$btn-padding-x} + #{$btn-border-width});

    &.btn-lg {
      padding: calc(#{$btn-padding-y-lg} + #{$btn-border-width})
        calc(#{$btn-padding-x-lg} + #{$btn-border-width});
    }

    &.btn-sm {
      padding: calc(#{$btn-padding-y-sm} + #{$btn-border-width})
        calc(#{$btn-padding-x-sm} + #{$btn-border-width});
    }
  }

  // Link
  &.btn-link {
    border: 0;
    border-radius: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-decoration: none;
    font-weight: $btn-font-weight;
  }

  // Outline
  &.btn-outline:not(.btn-outline-dashed) {
    border: 1px solid var(--kt-input-border-color);
  }

  // Outline dashed
  &.btn-outline-dashed {
    border: 1px dashed var(--kt-input-border-color);
  }

  // Flush
  &.btn-flush {
    @include button-reset();
  }

  // Flex
  &.btn-flex {
    display: inline-flex;
    align-items: center;
  }

  // Align start
  &.btn-trim-start {
    justify-content: flex-start !important;
    padding-left: 0 !important;
  }

  // Align start
  &.btn-trim-end {
    justify-content: flex-end !important;
    padding-right: 0 !important;
  }

  &.btn-back-previous {
    background: #ffffff;
    border: 1px solid #104e70 !important;
    width: 46px;
    height: 46px;
    border-radius: 50%;

    i {
      color: #104e70;
      font-size: 22px;
      margin: -0px 0 0 -5px;
    }
  }

  &.btn-success-portal-soft {
    background: #00daa6;
    border-radius: 4px;
    color: $white;
    font-family: "Poppins";
    height: 45px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
  }

  &.btn-primary-portal {
    background: #1896a4;
    border-radius: 3px;
    color: $white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    padding: 16px;

    i {
      color: $white;
    }

    &:hover {
      background-color: #fff;
      border: 1px solid #1896a4 !important;
      color: #1896a4;

      i {
        color: #1896a4;
      }
    }
  }

  &.btn-success-portal {
    background: #18a43f;
    border-radius: 3px;
    color: $white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    padding: 18px !important;
  }

  &.btn-transparent-portal {
    background: $white;
    border-radius: 3px;
    color: #c4c4c4;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    border: 0;
    padding: 18px !important;
  }

  &.btn-primary-outline-portal {
    background: $white;
    border-radius: 3px;
    color: #1896a4;
    border: 1px solid #1896a4 !important;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    padding: 18px !important;

    &:hover {
      background-color: #1896a4;
      color: $white;
    }
  }
}

// Icons
.btn {
  // Font icon
  i {
    display: inline-flex;
    font-size: $font-size-base;
    padding-right: 0.35rem;
    vertical-align: middle;
    line-height: 0;
  }

  // Svg icon
  .svg-icon {
    flex-shrink: 0;
    line-height: 0;
    margin-right: 0.5rem;
  }

  // Icon only button
  &.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: $input-height;
    width: $input-height;

    // Remove border
    &:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush) {
      border: 0;
    }

    // Sizes
    &.btn-sm {
      height: $input-height-sm;
      width: $input-height-sm;
    }

    &.btn-lg {
      height: $input-height-lg;
      width: $input-height-lg;
    }

    &.btn-circle {
      border-radius: 50%;
    }

    i,
    .svg-icon {
      padding: 0;
      margin: 0;
      line-height: 1;
    }
  }
}

// Hover effects
.btn.btn-hover-rise {
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-10%);
    transition: transform 0.3s ease;
  }
}

.btn.btn-hover-scale {
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
}

.btn.btn-hover-rotate-end {
  transition: transform 0.3s ease;

  &:hover {
    transform: rotate(4deg);
    transition: transform 0.3s ease;
  }
}

.btn.btn-hover-rotate-start {
  transition: transform 0.3s ease;

  &:hover {
    transform: rotate(-4deg);
    transition: transform 0.3s ease;
  }
}

.btn__outline__pp {
  padding: 9px 22px 9px 22px;
  border: 2px solid #1896a4 !important;
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #1896a4;
}
