.auth-login {
  min-height: 100vh;

  .bg-login {
    background-repeat: no-repeat;
    background-size: 110vh;

    .img-logo {
      img {
        max-width: 158px;
        max-height: 121px;
        width: 100%;
        height: auto;
      }
    }
  }
  .bg-bumn {
    background-repeat: no-repeat;
    background-position: right bottom; /*Positioning*/
    background-size: 433px 264px;

    .form-data {
      padding: 120px;
      .label-data {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        color: #616161;
        margin-bottom: 20px;
      }

      .form-group {
        margin-bottom: 22px;
        input {
          background: rgba(0, 0, 0, 0.07);
          border-radius: 3px;
        }

        .lupa-password {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #737373;
          margin-top: 8px;
        }
      }

      .daftar-akun {
        margin-top: -8px;
      }
    }
  }


}

.icon-field {
  float: right;
  margin-right: 20px;
  margin-left: -45px;
  margin-top: 24px;
  position: relative;
  font-size: 16px;
  z-index: 99999999;
}

.icon-field-registrasi {
  float: right;
  margin-right: 20px;
  margin-left: -45px;
  margin-top: 15px;
  position: relative;
  font-size: 16px;
  z-index: 99999999;
}