.dashboard-profile {
  width: 100%;
  height: auto;
  background: #ffffff;
  border: 1px solid rgba(140, 141, 141, 0.5);
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 15px 18px 15px 18px;

  .images-profile {
    img {
      width: 100%;
      height: auto;
      max-width: 90px;
      max-height: 90px;
      background: #d9d9d9;
      border-radius: 5px;
    }

  }
  .upload-btn-wrapper__PoP input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: -20px;
    top: 0;
    opacity: 0;
    height: 40px;
    width: 40px;
  }
  .upload-btn-wrapper__PoP {
    position: relative;
    // overflow: hidden;
    // display: contents;
    .btn__upload {
      color: gray;
      background-color: #1796a4;
      border-radius: 8px;
      font-weight: bold;
      border: transparent;
      padding: 6px 10px;
      border-radius: 50%;
      margin: 25px 0px 0px -20px;
     
      i {
        color: white;
      }
    }
    .btn__confirm {
      color: gray;
      background-color: #2aa417;
      border-radius: 8px;
      font-weight: bold;
      border: transparent;
      padding: 6px 10px;
      border-radius: 50%;
      margin: 5px 0px 0px -20px;
     
      i {
        color: white;
      }
    }
    .btn__cancel {
      color: gray;
      background-color: #a41717;
      border-radius: 8px;
      font-weight: bold;
      border: transparent;
      padding: 6px 10px;
      border-radius: 50%;
      margin: 5px 0px 0px -20px;
     
      i {
        color: white;
      }
    }
  }
  .informasi-profile {
    margin-left: 33px;
    label {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: #1f2855;
    }

    .email {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: #1f2855;
    }
  }

  .informasi-persentase {
    float: right;
    .jabatan-dilamar {
      margin-right: 44px;

      .total {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #1f2855;
      }

      .wording {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #1f2855;
      }
    }
  }
}

.card-profile {
  margin-top: 22px;
  width: 100%;
  height: auto;
  background: #ffffff;
  border: 1px solid rgba(140, 141, 141, 0.5);
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 16px 18px 16px 18px;

  .title-card {
    img {
      width: 20px;
      height: 20px;
      margin-right: 15px;
    }
    .title__general {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #1f2855;
    }
  }

  .sub-title-card {
    margin-left: 5px;
    margin-right: 10px;
  }

  .body-card {
    .lowongan-empty {
      margin-top: 33px;
      margin-bottom: 67px;
      label {
        font-family: "Poppins";
        font-style: italic;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        color: rgba(31, 40, 85, 0.5);
        margin-bottom: 24px;
      }
      .btn-custom {
        padding: 16px 42px 16px 42px !important;
      }
    }
    .lowongan {
      margin-top: 30px;
      .section-list {
        hr {
          margin-top: 20px;
          margin-bottom: 20px;
          border: 1px solid #d3d3d3;
        }
        .images-perusahaan {
          img {
            width: 100%;
            height: auto;
            max-width: 60px;
            max-height: 30px;
            object-fit: contain;
          }
        }
        .posisi-perusahaan {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 21px;
          color: #1f2855;
        }
        .perusahaan {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 11px;
          line-height: 16px;
          color: #585858;
        }

        .status-seleksi {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 700;
          font-size: 13px;
          line-height: 20px;
          color: #7ba8ff;
        }
        .status-ditolak {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 700;
          font-size: 13px;
          line-height: 20px;
          color: #ff4768;
        }
      }

      .section-list-activity {
        font-family: "Poppins";
        font-style: normal;
        font-size: 12px;
        line-height: 18px;
        color: rgba(10, 10, 10, 0.5);
      }
    }

    // pengaturan
    .pengaturan {
      margin-top: 22px;
      &__label {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: rgba(0, 0, 0, 0.5);
      }
      &__form {
        background: rgba(0, 0, 0, 0.07);
        border-radius: 3px;
        height: 45px;
      }

      &__update {
        float: right;
      }

      .form-group {
        margin-bottom: 15px;
      }
    }
    // pengaturan

    // pengaturan
    .personal {
      margin-top: 22px;
      &__label {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 21px;
        color: rgba(0, 0, 0, 0.5);
      }
      &__form {
        background: rgba(0, 0, 0, 0.07);
        border-radius: 4px;
        height: 40px;
      }

      &__update {
        float: right;
      }

      .form-group {
        margin-bottom: 15px;
      }
    }
    // pengaturan

    .resume-cv {
      padding-top: 7px;
      padding-bottom: 7px;
      &__personal {
        .title {
          border-left: 10px solid #1896a4;
          height: 53px;
          label {
            margin-left: 23px;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 22px;
            color: #1f2855;
          }
        }
        &__body {
          padding-left: 32px;
          padding-right: 32px;

          .title-body {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 215%;
            color: #181818;
          }

          .title-sub-body {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 215%;
            color: #181818;
          }
        }
        &__update {
          margin-top: -35px;
          float: right;
        }

        // Personifikasi
        .content_personifikasi {
          .title-personifikasi {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 215%;
            /* or 30px */
            color: #181818;
          }

          .informasi {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;

            color: #181818;
          }
        }
      }
    }

    // referensi
    .referensi {
      margin-top: 22px;
      &__label {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 21px;
        color: rgba(0, 0, 0, 0.5);
      }
      &__form {
        background: rgba(0, 0, 0, 0.07);
        border-radius: 12px;
        height: 40px;
      }

      &__update {
        i {
          color: #fff;
        }
        float: right;
      }

      .form-group {
        margin-bottom: 15px;
      }
    }
    // referensi

    // narasumber
    .narasumber {
      margin-top: 22px;
      &__label {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 21px;
        color: rgba(0, 0, 0, 0.5);
      }
      &__form {
        background: rgba(0, 0, 0, 0.07);
        border-radius: 12px;
        height: 40px;
      }

      &__update {
        i {
          color: #fff;
        }
        float: right;
      }

      .form-group {
        margin-bottom: 15px;
      }
    }
    // narasumber
  }
}

.custom_form_select {
  background: rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  height: 40px;
  width: 50%;
  padding: 5px;
  border: 1px solid transparent;
}

.form-check {
  .form-check-label {
    margin-left: 10px;
  }
}

.custom_textarea {
  background: rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 8px;
}

.number-id {
  margin-left: 5px;
  margin-right: 5px;
}

.flag-id {
  margin-right: 5px;
  .flag-red {
    width: 25px;
    height: 8px;
    background-color: red;
    border: 1px solid rgba(140, 141, 141, 0.5);
  }
  .flag-white {
    width: 25px;
    height: 8px;
    background-color: white;
    border: 1px solid rgba(140, 141, 141, 0.5);
  }
}

.label-upload {
  background-color: #e5f1f3;
  border: 1px solid #1896a4;
  opacity: 1;
  color: #7d7d7d;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
  text-align: center;
  height: 100px;
}

.form-check {
  margin-bottom: 10px;
}

.form-check-input:checked {
  background-color: #1896a4;
  border: 1px solid #1896a4;
}

.custom-modal-title > .modal-title {
  font-weight: bold;
  color: #071046;
  font-size: 18px;
}
