<template>
  <div>
    <div class="row auth-login justify-content-center">
      <div
        class="col-sm-6 bg-login d-flex justify-content-center align-items-center bg_log"
        :style="
          'background-image: url(' +
          require('@/assets/images/background/bg_login_portal.png') +
          ');'
        "
      >
        <div class="img-logo fix_logo">
          <img :src="require('@/assets/images/logo/logo_login.png')" alt="" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { onMounted } from "vue";
import { useRoute, useRouter } from "vue-router";
import { Actions } from "@/store/enums/StoreEnums";
import { useStore } from "vuex";
import Swal from "sweetalert2/dist/sweetalert2.min.js";
export default {
  setup() {
    const store = useStore();
    const route = useRoute();
    const router = useRouter();
    const urlParam = route.params.id;
    async function login() {
      const res = await store.dispatch(Actions.LOGIN_BY_TOKEN, urlParam);
      console.log(res);
      if (res.status) {
        router.push({ name: "ProfileUser" });
      } else {
        Swal.fire({
          text: res.message,
          icon: "error",
          buttonsStyling: false,
          confirmButtonText: "Ok!",
          customClass: {
            confirmButton: "btn btn-primary",
          },
        });
      }
    }
    onMounted(() => {
      login();
    });
    return {
      urlParam,
    };
  },
};
</script>
