//
// Carousel
//

.carousel-custom {
  // Indicators
  .carousel-indicators {
    align-items: center;
    position: static;
    z-index: auto;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      transform: none;
      opacity: 1;

      &.active {
        transform: none;
        opacity: 1;
      }
    }

    // Dots style
    &.carousel-indicators-dots {
      li {
        border-radius: 0;
        background-color: transparent;
        height: $carousel-custom-dots-indicator-active-size;
        width: $carousel-custom-dots-indicator-active-size;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        &:after {
          display: inline-block;
          content: " ";
          @include border-radius(50%);
          transition: all $carousel-custom-indicator-transition-speed ease;
          background-color: var(
            --kt-carousel-custom-indicator-default-bg-color
          );
          height: $carousel-custom-dots-indicator-default-size;
          width: $carousel-custom-dots-indicator-default-size;
        }

        &.active {
          background-color: transparent;

          &:after {
            transition: all $carousel-custom-indicator-transition-speed ease;
            height: $carousel-custom-dots-indicator-active-size;
            width: $carousel-custom-dots-indicator-active-size;
            background-color: var(
              --kt-carousel-custom-indicator-active-bg-color
            );
          }
        }
      }
    }

    // Bullet style
    &.carousel-indicators-bullet {
      li {
        transition: all $carousel-custom-indicator-transition-speed ease;
        background-color: transparent;
        border-radius: $carousel-custom-bullet-indicator-default-size;
        height: $carousel-custom-bullet-indicator-default-size;
        width: $carousel-custom-bullet-indicator-default-size;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        &:after {
          display: inline-block;
          content: " ";
          transition: all $carousel-custom-indicator-transition-speed ease;
          background-color: var(
            --kt-carousel-custom-bullet-indicator-default-bg-color
          );
          border-radius: $carousel-custom-bullet-indicator-default-size;
          height: $carousel-custom-bullet-indicator-default-size;
          width: $carousel-custom-bullet-indicator-default-size;
        }

        &.active {
          transition: all $carousel-custom-indicator-transition-speed ease;
          background-color: transparent;
          height: $carousel-custom-bullet-indicator-default-size;
          width: $carousel-custom-bullet-indicator-active-width;

          &:after {
            transition: all $carousel-custom-indicator-transition-speed ease;
            height: $carousel-custom-bullet-indicator-default-size;
            width: $carousel-custom-bullet-indicator-active-width;
            background-color: var(
              --kt-carousel-custom-bullet-indicator-active-bg-color
            );
          }
        }
      }
    }
  }

  // Theme colors
  @each $name, $value in $theme-colors {
    .carousel-indicators-active-#{$name} {
      li.active:after {
        background-color: $value !important;
      }
    }
  }

  // Stretch mode
  &.carousel-stretch {
    height: 100%;
    display: flex;
    flex-direction: column;

    .carousel-inner {
      flex-grow: 1;
    }

    .carousel-item {
      height: 100%;
    }

    .carousel-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}
@media only screen and (max-width: 480px){
  .carousel-pendaftaran {
    .carousel-custom {
      //   Next & Prevv
      .carousel-control-prev {
        width: 60px;
        height: 60px;
        background: #ffffff;
        box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        margin-top: 150px;
        .carousel-control-prev-icon-custom {
          .icon {
            height: 55px;
            width: 55px;
            background-repeat: no-repeat;
            border-radius: 50%;
          }
        }
      }

      .carousel-control-next {
        width: 60px;
        height: 60px;
        background: #ffffff;
        box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        margin-top: 150px;

        .carousel-control-next-icon-custom {
          .icon {
            height: 55px;
            width: 55px;
            background-repeat: no-repeat;
            border-radius: 50%;
          }
        }
      }

      // Indicators
      // .carousel-indicators {
      //   align-items: center;
      //   position: static;
      //   z-index: auto;
      //   margin: 0;
      //   padding: 0;
      //   list-style: none;

      //   li {
      //     transform: none;
      //     opacity: 1;

      //     &.active {
      //       transform: none;
      //       opacity: 1;
      //     }
      //   }

      //   // Dots style
      //   &.carousel-indicators-dots {
      //     li {
      //       border-radius: 0;
      //       background-color: transparent;
      //       height: $carousel-custom-dots-indicator-active-size;
      //       width: $carousel-custom-dots-indicator-active-size;
      //       display: flex;
      //       align-items: center;
      //       justify-content: center;
      //       text-align: center;

      //       &:after {
      //         display: inline-block;
      //         content: " ";
      //         @include border-radius(50%);
      //         transition: all $carousel-custom-indicator-transition-speed ease;
      //         background-color: var(
      //           --kt-carousel-custom-indicator-default-bg-color
      //         );
      //         height: $carousel-custom-dots-indicator-default-size;
      //         width: $carousel-custom-dots-indicator-default-size;
      //       }

      //       &.active {
      //         background-color: transparent;

      //         &:after {
      //           transition: all $carousel-custom-indicator-transition-speed ease;
      //           height: $carousel-custom-dots-indicator-active-size;
      //           width: $carousel-custom-dots-indicator-active-size;
      //           background-color: var(
      //             --kt-carousel-custom-indicator-active-bg-color
      //           );
      //         }
      //       }
      //     }
      //   }

      //   // Bullet style
      //   &.carousel-indicators-bullet {
      //     li {
      //       transition: all $carousel-custom-indicator-transition-speed ease;
      //       background-color: transparent;
      //       border-radius: $carousel-custom-bullet-indicator-default-size;
      //       height: $carousel-custom-bullet-indicator-default-size;
      //       width: $carousel-custom-bullet-indicator-default-size;
      //       display: flex;
      //       align-items: center;
      //       justify-content: center;
      //       text-align: center;

      //       &:after {
      //         display: inline-block;
      //         content: " ";
      //         transition: all $carousel-custom-indicator-transition-speed ease;
      //         background-color: var(
      //           --kt-carousel-custom-bullet-indicator-default-bg-color
      //         );
      //         border-radius: $carousel-custom-bullet-indicator-default-size;
      //         height: $carousel-custom-bullet-indicator-default-size;
      //         width: $carousel-custom-bullet-indicator-default-size;
      //       }

      //       &.active {
      //         transition: all $carousel-custom-indicator-transition-speed ease;
      //         background-color: transparent;
      //         height: $carousel-custom-bullet-indicator-default-size;
      //         width: $carousel-custom-bullet-indicator-active-width;

      //         &:after {
      //           transition: all $carousel-custom-indicator-transition-speed ease;
      //           height: $carousel-custom-bullet-indicator-default-size;
      //           width: $carousel-custom-bullet-indicator-active-width;
      //           background-color: var(
      //             --kt-carousel-custom-bullet-indicator-active-bg-color
      //           );
      //         }
      //       }
      //     }
      //   }
      // }

      .carousel-content {
        padding: 0 1px 0 1px;

        .informasi {
          .title {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            -webkit-text-stroke: 1px #1896a4; /* width and color */
            color: $white;
          }

          .informasi-detail {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 39px;
            color: #1f2855;
            margin-bottom: 24px;
          }

          .informasi-detail-sub {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: #636363;
          }
        }

        .images {
          .image-default {
            width: 100%;
            height: 388px;
            max-height: 388px;
            background: #d9d9d9;
            border: 1px solid #1896a4;
            border-radius: 16px;
          }
          img {
            width: 100%;
            height: 388px;
            max-height: 388px;
            background: #d9d9d9;
            border: 1px solid #1896a4;
            border-radius: 16px;
          }
        }
      }
      // Theme colors
      @each $name, $value in $theme-colors {
        .carousel-indicators-active-#{$name} {
          li.active:after {
            background-color: $value !important;
          }
        }
      }

      // Stretch mode
      &.carousel-stretch {
        height: 100%;
        display: flex;
        flex-direction: column;

        .carousel-inner {
          flex-grow: 1;
        }

        .carousel-item {
          height: 100%;
        }

        .carousel-wrapper {
          display: flex;
          flex-direction: column;
          height: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 481px){
  .carousel-pendaftaran {
    .carousel-custom {
      //   Next & Prevv
      .carousel-control-prev {
        width: 60px;
        height: 60px;
        background: #ffffff;
        box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        margin-top: 150px;
        .carousel-control-prev-icon-custom {
          .icon {
            height: 55px;
            width: 55px;
            background-repeat: no-repeat;
            border-radius: 50%;
          }
        }
      }

      .carousel-control-next {
        width: 60px;
        height: 60px;
        background: #ffffff;
        box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        margin-top: 150px;

        .carousel-control-next-icon-custom {
          .icon {
            height: 55px;
            width: 55px;
            background-repeat: no-repeat;
            border-radius: 50%;
          }
        }
      }

      // Indicators
      // .carousel-indicators {
      //   align-items: center;
      //   position: static;
      //   z-index: auto;
      //   margin: 0;
      //   padding: 0;
      //   list-style: none;

      //   li {
      //     transform: none;
      //     opacity: 1;

      //     &.active {
      //       transform: none;
      //       opacity: 1;
      //     }
      //   }

      //   // Dots style
      //   &.carousel-indicators-dots {
      //     li {
      //       border-radius: 0;
      //       background-color: transparent;
      //       height: $carousel-custom-dots-indicator-active-size;
      //       width: $carousel-custom-dots-indicator-active-size;
      //       display: flex;
      //       align-items: center;
      //       justify-content: center;
      //       text-align: center;

      //       &:after {
      //         display: inline-block;
      //         content: " ";
      //         @include border-radius(50%);
      //         transition: all $carousel-custom-indicator-transition-speed ease;
      //         background-color: var(
      //           --kt-carousel-custom-indicator-default-bg-color
      //         );
      //         height: $carousel-custom-dots-indicator-default-size;
      //         width: $carousel-custom-dots-indicator-default-size;
      //       }

      //       &.active {
      //         background-color: transparent;

      //         &:after {
      //           transition: all $carousel-custom-indicator-transition-speed ease;
      //           height: $carousel-custom-dots-indicator-active-size;
      //           width: $carousel-custom-dots-indicator-active-size;
      //           background-color: var(
      //             --kt-carousel-custom-indicator-active-bg-color
      //           );
      //         }
      //       }
      //     }
      //   }

      //   // Bullet style
      //   &.carousel-indicators-bullet {
      //     li {
      //       transition: all $carousel-custom-indicator-transition-speed ease;
      //       background-color: transparent;
      //       border-radius: $carousel-custom-bullet-indicator-default-size;
      //       height: $carousel-custom-bullet-indicator-default-size;
      //       width: $carousel-custom-bullet-indicator-default-size;
      //       display: flex;
      //       align-items: center;
      //       justify-content: center;
      //       text-align: center;

      //       &:after {
      //         display: inline-block;
      //         content: " ";
      //         transition: all $carousel-custom-indicator-transition-speed ease;
      //         background-color: var(
      //           --kt-carousel-custom-bullet-indicator-default-bg-color
      //         );
      //         border-radius: $carousel-custom-bullet-indicator-default-size;
      //         height: $carousel-custom-bullet-indicator-default-size;
      //         width: $carousel-custom-bullet-indicator-default-size;
      //       }

      //       &.active {
      //         transition: all $carousel-custom-indicator-transition-speed ease;
      //         background-color: transparent;
      //         height: $carousel-custom-bullet-indicator-default-size;
      //         width: $carousel-custom-bullet-indicator-active-width;

      //         &:after {
      //           transition: all $carousel-custom-indicator-transition-speed ease;
      //           height: $carousel-custom-bullet-indicator-default-size;
      //           width: $carousel-custom-bullet-indicator-active-width;
      //           background-color: var(
      //             --kt-carousel-custom-bullet-indicator-active-bg-color
      //           );
      //         }
      //       }
      //     }
      //   }
      // }

      .carousel-content {
        padding: 0px 80px 0px 80px;

        .informasi {
          .title {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            -webkit-text-stroke: 1px #1896a4; /* width and color */
            color: $white;
          }

          .informasi-detail {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 39px;
            color: #1f2855;
            margin-bottom: 24px;
          }

          .informasi-detail-sub {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: #636363;
          }
        }

        .images {
          .image-default {
            width: 100%;
            height: 388px;
            max-height: 388px;
            background: #d9d9d9;
            border: 1px solid #1896a4;
            border-radius: 16px;
          }
          img {
            width: 100%;
            height: 388px;
            max-height: 388px;
            background: #d9d9d9;
            border: 1px solid #1896a4;
            border-radius: 16px;
          }
        }
      }
      // Theme colors
      @each $name, $value in $theme-colors {
        .carousel-indicators-active-#{$name} {
          li.active:after {
            background-color: $value !important;
          }
        }
      }

      // Stretch mode
      &.carousel-stretch {
        height: 100%;
        display: flex;
        flex-direction: column;

        .carousel-inner {
          flex-grow: 1;
        }

        .carousel-item {
          height: 100%;
        }

        .carousel-wrapper {
          display: flex;
          flex-direction: column;
          height: 100%;
        }
      }
    }
  }
}
